awsebcli==3.4.5
backports.ssl-match-hostname==3.4.0.2
cement==2.4.0
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
Flask==0.10.1
Flask-SocketIO==0.6.0
Flask-Sockets==0.1
Flask-uWSGI-WebSocket==0.4.4
gevent==1.0.2
gevent-socketio==0.3.6
gevent-websocket==0.9.5
greenlet==0.4.7
itsdangerous==0.24
Jinja2==2.7.3
jmespath==0.7.1
MarkupSafe==0.23
pathspec==0.3.3
python-dateutil==2.4.2
PyYAML==3.11
requests==2.6.2
six==1.9.0
texttable==0.8.3
uWSGI==2.0.10
websocket-client==0.32.0
Werkzeug==0.10.4
wheel==0.24.0
